.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 10%), url(../../images/cookies.png);
	color: white;
	padding: 60px 0px;
	background-size: cover;
	background-position: center;
	height: 650px;
}

.banner h1 {
	font-size: 70px;
	margin-top: 40px;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0,8;
}
