.list-inline {
	list-style-type: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 70px;
	color: #3f1a13;
}

.list-inline i:hover{
	color: #a98259;
}